@page "/profesors/create"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Crear Profesores</PageTitle>

<h1>Crear Profesores</h1>

<hr />
<div class="content">
        <EditForm method="post" Model="Profesor" OnValidSubmit="AddProfesor" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="row">
            <div class="col-md-3">
                <label for="codigo" class="form-label">Código</label> 
                <InputText id="codigo" @bind-Value="Profesor.Codigo" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Profesor.Codigo" class="text-danger" /> 
            </div>        
            <div class="col-md-3">
                <label for="cedula" class="form-label">Cédula</label> 
                <InputText id="cedula" @bind-Value="Profesor.Cedula" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Profesor.Cedula" class="text-danger" /> 
            </div>
            <div class="col-md-3">
                <label for="fechanacimiento" class="form-label">Fecha de Nacimiento</label> 
                <InputDate id="fechanacimiento" @bind-Value="Profesor.FechaNacimiento" class="form-control" /> 
                <ValidationMessage For="() => Profesor.FechaNacimiento" class="text-danger" /> 
            </div>        
            <div class="col-md-3">
                <label for="fechaingreso" class="form-label">Fecha de Ingreso</label> 
                <InputDate id="fechaingreso" @bind-Value="Profesor.FechaIngreso" class="form-control" /> 
                <ValidationMessage For="() => Profesor.FechaIngreso" class="text-danger" /> 
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label> 
                <InputText id="nombre" @bind-Value="Profesor.Nombre" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Profesor.Nombre" class="text-danger" /> 
            </div>        
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label> 
                <InputText id="apellido" @bind-Value="Profesor.Apellido" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Profesor.Apellido" class="text-danger" /> 
            </div>
        </div>
            <div class="row">
            <div class="col-md-2">
                <label for="sexo" class="form-label">Sexo</label>
                <InputSelect id="sexo" @bind-Value="Profesor.Sexo" class="form-control" aria-required="true">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </InputSelect>
                <ValidationMessage For="() => Profesor.Sexo" class="text-danger" /> 
            </div>        
            <div class="col-md-2">
                <label for="estadocivil" class="form-label">Estado Civil</label>
                <InputSelect id="estadocivil" @bind-Value="Profesor.EstadoCivil" class="form-control" aria-required="true">
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Viudo">Viudo</option>
                    <option value="Divorciado">Divorciado</option>
                </InputSelect>
                <ValidationMessage For="() => Profesor.EstadoCivil" class="text-danger" /> 
            </div>
            <div class="col-md-2">
                <label for="tiposangre" class="form-label">Tipo de Sangre</label>
                <InputSelect id="tiposangre" @bind-Value="Profesor.TipoSangre" class="form-control">
                    <option value="A+">A+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="B+">B-</option>
                </InputSelect>
                <ValidationMessage For="() => Profesor.TipoSangre" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label for="nacionalidad" class="form-label">Nacionalidad</label>
                <InputSelect id="nacionalidad" @bind-Value="Profesor.Nacionalidad" class="form-control">
                    @foreach (var nacionalidad in Nacionalidades)
                    {
                        <option value="@nacionalidad.Nombre">@nacionalidad.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.Nacionalidad" class="text-danger" />
            </div>
            <div class="col-md-2">
                <label for="religion" class="form-label">Religión</label>
                <InputSelect id="religion" @bind-Value="Profesor.Religion" class="form-control">
                    @foreach (var religion in Religiones)
                    {
                        <option value="@religion.Nombre">@religion.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.Religion" class="text-danger" />
            </div>
        </div>
       <div class="row">
            <div class="col-md-2">
            <label for="telefono" class="form-label">Teléfono</label>
            <InputText id="telefono" @bind-Value="Profesor.Telefono" class="form-control" />
            <ValidationMessage For="() => Profesor.Telefono" class="text-danger" />
        </div>
            <div class="col-md-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" @bind-Value="Profesor.Email" class="form-control" />
            <ValidationMessage For="() => Profesor.Email" class="text-danger" />
        </div>
            <div class="col-md-7">
            <label for="direccion" class="form-label">Dirección</label>
            <InputText id="direccion" @bind-Value="Profesor.Direccion" class="form-control" />
            <ValidationMessage For="() => Profesor.Direccion" class="text-danger" />
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="ocupacion" class="form-label">Ocupación</label>
                <InputSelect id="ocupacion" @bind-Value="Profesor.Ocupacion" class="form-control">
                    @foreach (var ocupacion in Ocupaciones)
                    {
                        <option value="@ocupacion.Nombre">@ocupacion.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.Ocupacion" class="text-danger" /> 
            </div>
            <div class="col-md-6">
                <label for="facultad" class="form-label">Facultad</label> 
                <InputSelect id="facultad" @bind-Value="Profesor.Facultad" class="form-control">
                    @foreach (var facultad in Facultades)
                    {
                        <option value="@facultad.Nombre">@facultad.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.Facultad" class="text-danger" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="titulocarreragrado" class="form-label">Título de Carrera Grado</label> 
                <InputText id="titulocarreragrado" @bind-Value="Profesor.TituloCarreraGrado" class="form-control" /> 
                <ValidationMessage For="() => Profesor.TituloCarreraGrado" class="text-danger" /> 
            </div>
            <div class="col-md-3">
                <label for="gradoalcanzado" class="form-label">Grado Alcanzado</label> 
                <InputSelect id="gradoalcanzado" @bind-Value="Profesor.GradoAlcanzado" class="form-control">
                    @foreach (var gradoacademico in GradosAcademicos)
                    {
                        <option value="@gradoacademico.Nombre">@gradoacademico.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.GradoAlcanzado" class="text-danger" /> 
            </div>        
            <div class="col-md-3">
                <label for="categoriaprofesoral" class="form-label">Categoría Profesoral</label> 
                <InputSelect id="categoriaprofesoral" @bind-Value="Profesor.CategoriaProfesoral" class="form-control">
                    <option value="Provisional">Provisional</option>
                    <option value="Adscrito">Adscrito</option>
                    <option value="Adjunto">Adjunto</option>
                    <option value="Titular">Titular</option>
                </InputSelect>
                <ValidationMessage For="() => Profesor.CategoriaProfesoral" class="text-danger" /> 
            </div>        
            <div class="col-md-3">
                <label for="facultadpertenece" class="form-label">Facultad que Pertenece</label> 
                <InputSelect id="facultadpertenece" @bind-Value="Profesor.FacultadPertenece" class="form-control">
                    @foreach (var facultad in Facultades)
                    {
                        <option value="@facultad.Nombre">@facultad.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Profesor.FacultadPertenece" class="text-danger" /> 
            </div>
            </div>
           <div class="row">
                <div class="col-md-12">
                <label for="observaciones" class="form-label">Observaciones</label> 
                <InputTextArea id="observaciones" @bind-Value="Profesor.Observaciones" class="form-control" /> 
                <ValidationMessage For="() => Profesor.Observaciones" class="text-danger" /> 
            </div>     
            </div>
            @*<div class="mb-3">
                <label for="inactivo" class="form-label">Inactivo:</label> 
                <InputCheckbox id="inactivo" @bind-Value="Profesor.Inactivo" class="form-check-input" /> 
                <ValidationMessage For="() => Profesor.Inactivo" class="text-danger" /> 
            </div>*@        
            <br>
            <button type="submit" class="btn btn-primary">Crear</button> | <a href="/profesors">Volver al Listado</a>
        </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private Profesor Profesor { get; set; } = new();

    public List<Nacionalidad> Nacionalidades = new List<Nacionalidad>();
    public List<Religion> Religiones = new List<Religion>();
    public List<Ocupacion> Ocupaciones = new List<Ocupacion>();
    public List<Facultad> Facultades = new List<Facultad>();
    public List<GradoAcademico> GradosAcademicos = new List<GradoAcademico>();

    protected override void OnInitialized()
    {
        Nacionalidades = BD.Nacionalidad.ToList();
        Religiones = BD.Religion.ToList();
        Ocupaciones = BD.Ocupacion.ToList();
        Facultades = BD.Facultades.ToList();
        GradosAcademicos = BD.GradosAcademicos.ToList();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProfesor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Profesor.Add(Profesor);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/profesors");
    }
}
